/* 

*/

html, body {
    margin: 1px;/*1em;*/
    height: 100%;
}

h2{
    
}
copytext{
  font-family: Arial;
  color: #000000;
  font-size: .75em;        
  display:block;
}
p{
  font-family: Arial;
  color: #000000;
  font-size: 1em;    
}
/* setup the overall map size*/
#map {
  width: 100%;
  height: 95%;
  padding: 0;
  margin: 0;
}

/* style the displayed mouse coordinates*/
#coordinates{
    text-align: left;   
    font-family: Arial;
    color: gray;
    font-size: 11px;   
}


/* style close button */
.btn{
    height: auto;
    width: 120px;
    background-color: #3498db;
    text-align: center;
    position: relative;
    border-radius: 4px;
    border: solid 0px transparent;
    padding-top:0px;
    padding-bottom:0px;
 
}
.btn:hover{
    background-color: #3cb0fd;
}
/* style information text */
.infotext  {
    color: darkred;
    font-family: Papyrus;
    font-size: 16px;
    font-weight:bold
}

/* style easy button */
#customButton{
    height: auto;
    width: 120px;
    background-color: #3498db;
    text-align: center;
    position: relative;
    border-radius: 4px;
    border: solid 0px transparent;
    padding-top:0px;
    padding-bottom:0px;
 
}
#customButton:hover{
    background-color: #3cb0fd;
}

/* style the text on the easy buttons */
.easytext{
  font-family: Papyrus;
  color: #ffffff;
  font-size: 12px;
    padding-top:0px;
    padding-bottom:0px;  
}
